<div *ngIf="game">
    <div class="row justify-content-between">
        <div class="col-9">
            <h1>{{game.title}}</h1>
            <span class="text-body-secondary">{{game.platform}}</span>
        </div>
        <div class="col text-end">
            <div ngbDropdown class="d-inline-block" [placement]="['bottom-end']">
                <button type="button" class="btn btn-outline-primary" id="gameOptions" ngbDropdownToggle>
                    <ng-icon name="bootstrapList"></ng-icon>
                </button>
                <div ngbDropdownMenu aria-labelledby="gameOptions">
                    <a ngbDropdownItem routerLink="/{{editGamePath}}/{{game.id}}">Edit</a>
                    <app-delete-game [gameId]="game.id"></app-delete-game>
                </div>
            </div>
        </div>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs" [(activeId)]="activeTabId">
        <li *ngFor="let saveSlot of game.saveSlots; index as saveSlotIndex" [ngbNavItem]="saveSlotIndex">
            <button ngbNavLink>{{getSaveSlotDescription(saveSlot)}}</button>
            <ng-template ngbNavContent>
                <app-add-save [saveType]="saveSlot.type" [saveDescription]="saveSlot.description"
                    (saveCreated)="addSave($event, saveSlot)"></app-add-save>
                <ol class="list-group list-group-flush list-group-numbered">
                    <li *ngFor="let save of saveSlot.saves"
                        class="list-group-item d-flex justify-content-between align-items-start">

                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{save.value}}</div>
                            <small>{{save.description}}</small>

                        </div>
                        <span class="badge bg-primary">{{save.timestamp | date:'short'}}</span>
                    </li>
                </ol>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>