<ng-template #deleteGame let-modal>
    <div class="modal-header">
        <h4 class="modal-title text-danger" id="modal-basic-title">Confirm Deletion</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
    </div>
    <div class="modal-body">
        <ngb-alert [dismissible]="false" [type]="'danger'">
            <p><strong>WARNING: This operation cannot be undone!</strong></p>
            <p>Do you really want to delete this game and all saves associated with it?</p>
        </ngb-alert>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">No</button>
        <button type="button" class="btn btn-danger" (click)="modal.close()">Yes</button>
    </div>
</ng-template>

<div *ngIf="game">
    <div class="row">
        <div class="col">
            <h1>{{game.title}}</h1>
            <span class="text-body-secondary">{{game.platform}}</span>
        </div>
        <div class="col text-end">
            <div ngbDropdown class="d-inline-block">
                <button type="button" class="btn btn-outline-primary" id="gameOptions" ngbDropdownToggle>
                    <ng-icon name="bootstrapList"></ng-icon>
                </button>
                <div ngbDropdownMenu aria-labelledby="gameOptions">
                    <a ngbDropdownItem routerLink="/{{editGamePath}}/{{game.id}}">Edit Game</a>
                    <button ngbDropdownItem (click)="openModal(deleteGame)">Delete Game</button>
                </div>
            </div>
        </div>
    </div>
    <ul ngbNav #nav="ngbNav" class="nav-tabs">
        <li *ngFor="let saveSlot of game.saveSlots; index as saveSlotIndex" [ngbNavItem]="saveSlotIndex">
            <button ngbNavLink>{{getSaveSlotDescription(saveSlot)}}</button>
            <ng-template ngbNavContent>
                <ol class="list-group list-group-flush list-group-numbered">
                    <li *ngFor="let save of saveSlot.saves"
                        class="list-group-item d-flex justify-content-between align-items-start">

                        <div class="ms-2 me-auto">
                            <div class="fw-bold">{{save.value}}</div>
                            <small>{{save.description}}</small>

                        </div>
                        <span class="badge bg-primary">{{save.timestamp | date:'short'}}</span>
                    </li>
                </ol>
                <app-add-save [saveType]="saveSlot.type" [saveDescription]="saveSlot.description"
                    (saveCreated)="addSave($event, saveSlot)"></app-add-save>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>