<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <div *ngIf="displayBackButton; then backButton else titleBar"></div>
        <ng-template #backButton>
            <a class="navbar-brand" routerLink="{{backButtonRouterLink}}">
                <ng-icon name="bootstrapChevronLeft"></ng-icon> {{navigationTitle}}
            </a>
        </ng-template>
        <ng-template #titleBar>
            <app-slide-out-menu></app-slide-out-menu>
        </ng-template>
    </div>
</nav>