<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Game Title Search"
        [formControl]="searchTerm">
    <button class="btn btn-primary" type="button" id="clear" (click)="resetFilter()">
        <ng-icon name="bootstrapXCircle"></ng-icon>
    </button>
</div>

<div class="container">
    <div class="row justify-content-around">
        <div class="col">
            <h2>Games List</h2>
        </div>
        <div class="col text-end">
            <a routerLink="/add-game" class="btn btn-primary">Add Game</a>
        </div>
    </div>
</div>


<div class="list-group">
    <a *ngFor="let game of filteredGames" routerLink="/{{viewGamePath}}/{{game.id}}"
        class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{game.title}}</h5>
        </div>
        <p class="mb-1">{{game.platform}}</p>
    </a>
</div>