<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Search" aria-label="Game Title Search"
        [formControl]="searchTerm">
    <button class="btn btn-primary" type="button" id="clear" (click)="resetFilter()">Clear</button>
</div>

<div class="d-flex justify-content-between">
    <h2>Games List</h2>
    <a routerLink="/add-game" class="btn btn-secondary">+ Add Game</a>
</div>


<div class="list-group">
    <a *ngFor="let game of gamesList" href="#" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{game.title}}</h5>
        </div>
        <p class="mb-1">{{game.platform}}</p>
    </a>
</div>